
<div ng-show="vm.active">
    <div class="checkin-container">
        <form name="check_in">
            <b class="muli-label-22 black-blue">Personal Profile</b>
            <div class="muli-label-12 black-blue pb-4">Please fill up the form.</div>
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                        <label class="profile-label pt-4">Full Name</label>
                        <input type="text" class="form-control bio-custom-input" ng-model="vm.data.whole_name" name="whole_name" ng-minlength="3" ng-maxlength="52" required />
                        <div class="error-message" ng-show="!check_in.whole_name.$valid"> Please enter your full name.</div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                        <label class="profile-label pt-4">NRIC / Passport No.</label>
                        <input type="text" class="form-control bio-custom-input" ng-model="vm.data.passport" name="passport" ng-minlength="3" ng-maxlength="52" required />
                        <div class="error-message" ng-show="!check_in.passport.$valid"> Please enter NRIC / Passport No.</div>
                    </div>
                </div>
                <!-- <div class="col-lg-6 col-sm-12">
                    <div class="form-group" style="margin-bottom: -1rem;">
                        <label class="profile-label pt-4">Date of Birth</label>
                        <biomark-date class="is-invalid" date="vm.data.birth_date" date-valid="true" invalid=""></biomark-date>
                    </div>
                </div> -->
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                        <label class="profile-label">Contact Number</label>
                        <mobile-country country="vm.country_id" mobile="vm.data.contact_number" invalid="vm.contact_number_invalid"></mobile-country>
                        <div class="error-message" ng-show="vm.contact_number_invalid"> Please enter your contact number.</div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                        <label class="profile-label">Gender</label>
                        <p style="margin-bottom: 0px">
                            <div class="d-flex flex-row pt-2" style="height: 35px;">
                                <div class="radio-focus" tabindex="1">
                                    <input type="radio" id="gender_1" name="fgender" ng-value="1" ng-checked="vm.data.gender_id == 1" ng-model="vm.data.gender_id" tabindex="1">
                                    <label for="gender_1" style="margin-right: 20px">Male</label>
                                </div>
                                <div class="radio-focus" tabindex="2">
                                    <input type="radio" id="gender_2" name="fgender" ng-value="2" ng-checked="vm.data.gender_id == 2" ng-model="vm.data.gender_id" tabindex="2">
                                    <label for="gender_2">Female</label>
                                </div>
                            </div>
                        </p>
                        <div class="error-message" ng-show="vm.data.gender_id=='' || vm.data.gender_id==undefined"> Please select your gender.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                        <label class="profile-label pt-4">Company Name</label>
                        <input type="text" disabled="true" class="form-control bio-custom-input" ng-model="vm.data.company_name" name="company_name" ng-minlength="3" ng-maxlength="52" required />
                      </div>
                </div>
            </div>
            <div class="pt-4">
                <label class="container-checkbox-v2" style="font-size:12px"> By clicking “Submit”, I consent to sharing my full name, ID number, DOB, gender, mobile number, temperature and health declaration to the company.
                    <input class="bio-checkbox" name="terms" type="checkbox" ng-model="vm.data.terms" ng-checked="vm.data.terms">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="d-sm-block">
                <div class="d-flex justify-content-center align-items-end" style="height:calc(27vh - 70px)">
                    <button class="biomark-btn-primary-success"
                            ng-click="vm.continue()" 
                            ng-disabled="!check_in.whole_name.$valid || vm.contact_number_invalid || !check_in.passport.$valid || !vm.data.terms || vm.data.gender_id=='' || vm.data.gender_id==undefined">
                            Submit</button>
                </div>
            </div>
        </form>
    </div>  
</div>


<success-popup ng-if="vm.pop && vm.risk != undefined" packet="vm.pop" risk="vm.risk" color="vm.color"></success-popup>