@import '../style';

.biomark-header{
    background-color: transparent;
    height: 150px;
    padding: 30px;
    background-color: $white;
    img{
        height: 65px;
        width: 200px;
    }
}
.main-background{
    height: 100%;
    background-color: $white;
    z-index: 1;
    .biomark-container {
        overflow-y: auto;
        border-radius: 8px;
        box-shadow: 0 4px 40px -10px rgba(56, 73, 107, 0.2);
        margin: auto;
        padding: 30px;
        margin-bottom: 100px;
        background: $white;
        min-height: calc(82vh - 70px);
        min-width: calc(90% - 200px);

        .biomark-btn-primary {
            height: 50px;
            width: 160px;
            border-radius: 44px;
            background-image: linear-gradient(to right, #cc4d74, #f92969);
            box-shadow: 0 10px 40px 0 rgba(190,60,100,.3);
            text-decoration: none;
            font-family: Muli;
            font-size: 12px;
            color: $white;
            font-family: Muli;
            font-style: normal;
            font-weight: bold;
            font-size: 19px;
            line-height: 32px;
            border: none;
            cursor: pointer;
            &:disabled{
                opacity: 0.2;
              }
        }
        .biomark-btn-primary-disabled{
            height: 48px;
            border-radius: 44px;
            background-color: #eeeeee;
            text-decoration: none;
            color: #fff;
            min-width: 150px;
            font-family: Muli;
            font-size: 16px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.13;
            letter-spacing: normal;
            text-align: center;
            color: #dddddd;
            cursor: default;
          }

        .biomark-btn-primary-success {
            min-height: 50px;
            min-width: 160px;
            border-radius: 44px;
            background-image: linear-gradient(to right, #00A79D, #2BB673);
            box-shadow: 0 0px 4px 0 rgba(13,172,144,0.5);
            text-decoration: none;
            font-family: Muli;
            font-size: 12px;
            color: $white;
            font-family: Muli;
            font-style: normal;
            font-weight: bold;
            font-size: 19px;
            line-height: 32px;
            border: none;
            cursor: pointer;
            &:disabled{
                opacity: 0.2;
              }
        }
    }
}

footer {
    min-height: 130px;
    position: relative;
    width: 100%;
    bottom: 0;
    color: #eee;
    background: #0B0758;
    font-family: Muli;
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    
    i.fa {
        display: inline-block;
        border-radius: 60px;
        box-shadow: 0px 0px 2px #888;
        padding: 0.5em 0.6em;
      
      }
    .footer-sign {
        font-family: Muli;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 20px;
        text-align: center;
        color: #98AEE5;
    }
    p{
        color: $white;
        font-family: $EkMukta;
        font-size: 16px;
    }
}

.sm-footer {
    min-height: 130px;
    color: #eee;
    background: #0B0758;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    padding-bottom: 100px;
    .footer-sign {
        font-family: Muli;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 20px;
        text-align: center;
        color: #98AEE5;
    }
}

.bottom-navigation {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    background: #FFFFFF;
    box-shadow: 0 16px 14px 21px rgba(56, 73, 107, 0.2);
    z-index: 99;
    .sm-biomark-btn-primary {
        height: 56px;
        min-width: 360px;
        border-radius: 6px;
        background-image: linear-gradient(to right, #cc4d74, #f92969);
        box-shadow: 0 10px 40px 0 rgba(190,60,100,.3);
        text-decoration: none;
        font-family: Muli;
        font-size: 12px;
        color: #FFFFFF;
        font-family: Muli;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 32px;
        border: none;
        cursor: pointer;
    }
    .sm-biomark-btn-primary-success {
        height: 56px;
        min-width: 360px;
        border-radius: 6px;
        background-image: linear-gradient(to right, #00A79D, #2BB673);
        box-shadow: 0 10px 40px 0 rgba(13,172,144,0.5);
        text-decoration: none;
        font-family: Muli;
        font-size: 12px;
        color: #FFFFFF;
        font-family: Muli;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 32px;
        border: none;
        cursor: pointer;
    }
}
.profile-label{
    color: $bluey-grey;
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
}
.container-checkbox-v2{
    display: block;
    position: relative;
    padding-left: 25px;
    margin-top: 2px;
    cursor: pointer;
    font-family: Muli;
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 3px;
        height: 20px;
        width: 20px;
        border: 2px solid #eee;
    }
    input:checked ~ .checkmark:after {
        display: block;
    }
    input:checked ~ .checkmark {
        background-image: linear-gradient(to right, #00A79D, #2BB673);
        border-radius: 3px;
        border: none;
    }
    input.bio-checkbox{
		position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        z-index: 2;
		cursor: pointer;
	}

	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}
	.checkmark:after {
		left: 7px;
		top: 1px;
		width: 6px;
		height: 15px;
		border: solid white;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}
.container-checkbox{
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-family: Muli;
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 3px;
        height: 20px;
        width: 20px;
        border: 2px solid #eee;
    }
    input:checked ~ .checkmark:after {
        display: block;
    }
    input:checked~ .checkmark {
        background-image: linear-gradient(to right, #cc4d74, #f92969);
        border-radius: 3px;
        border: none;
    }
    input.bio-checkbox{
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}

	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}
	.checkmark:after {
		left: 7px;
		top: 1px;
		width: 6px;
		height: 15px;
		border: solid white;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}
.icon-background{
    color: $bluey-grey;
    font-size:30px;
    width: 1px;
}
