
    <div class="biomark-header">
        <div class="d-flex justify-content-center ">
            <img src="../images/logo.png" class="d-inline-block align-top" alt="">
        </div>
    </div>
    <div class="main-background">
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="biomark-container">
                    <div ui-view>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <footer>
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="mb-3">
                        <b class="mukta-label-16 color-white">BIOMARK</b>
                    </div>
                    <p class="mukta-label-16 color-white" style="max-width: 360px;">Biomark is a platform that helps patients and doctors make sense of medical data to prevent and manage disease. BioMark aims towards a more personalized, predictive and preventative healthcare.</p>
                    <div class="d-flex flex-row mt-3">
                        <i class="fa fa-facebook fa-lg mr-2"></i> 
                        <i class="fa fa-instagram fa-lg mr-2"></i> 
                        <i class="fa fa-linkedin fa-lg"></i> 
                    </div>
                    <p class="mt-4 muli-label-10 bluey-grey">&reg; 2018 All rights reserved. BioMark Pte. Ltd</p>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="row">
                        <div class="col-lg-8 col-sm-12">
                            <div class="row">
                                <div class="col-6">
                                    <p class="footer-label bluey-grey"><b>PRODUCTS</b></p>
                                    <p>For Individuals</p>
                                    <p>For Doctors</p>
                                    <p>For Companies</p>
                                </div>
                                <div class="col-6">
                                    <p class="footer-label bluey-grey"><b>ABOUT</b></p>
                                    <p>Company</p>
                                    <p>Team</p>
                                    <p>Medical Board</p>
                                    <p>Partner Laboratories</p>
                                    <p>Health Literacy</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="d-none d-sm-block">
                                <div class="row">
                                    <div class="col-lg-12 mb-4">
                                        <p class="footer-label bluey-grey"><b>CONNECT</b></p>
                                        <p>Careers</p>
                                        <p>Blog</p>
                                    </div>
                                    <div class="col-lg-12">
                                        <p class="footer-label bluey-grey"><b>LEGAL</b></p>
                                        <p>Terms of Service</p>
                                        <p>Data Privacy of Policy</p>
                                    </div>
                                </div>
                            </div>
                            <div class="d-block d-sm-none">
                                <div class="row">
                                    <div class="col-6 mb-4">
                                        <p class="footer-label bluey-grey"><b>CONNECT</b></p>
                                        <p>Careers</p>
                                        <p>Blog</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="footer-label bluey-grey"><b>LEGAL</b></p>
                                        <p>Terms of Service</p>
                                        <p>Data Privacy of Policy</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>