

.popup-container{
    background-color: #ffffff;
    min-width: 350px;
    max-width: 40%;
    margin: auto;
    box-shadow: 0 10px 40px 20px rgba(56, 73, 107, 0.2);
    min-height: 358px;
    border-radius: 8px;
    position: fixed;
    top: 130px;
    left: 0;
    right: 0;
    z-index: 500;
    .popup-title-box{
        max-width: 80%;
        margin: auto;
        
    }
    .ok-text{
        border-bottom: 2px solid #D9DFEB;
        bottom: 40px;
        position: absolute;
    }
}