<div class="popup-container">
    <div class="d-flex justify-content-center pt-5 pb-3">
        <img src="../images/green_check.png" style="max-width: 96px; max-height: 96px;" class="d-inline-block align-top" alt="">
    </div>
    <div class="popup-title-box">
        <div class="d-flex justify-content-center">
            <div class="mukta-label-18" style="text-align: center;"><b>We have received your request. We will process your request and get back to you as soon as possible.</b></div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="ok-text muli-label-16 light-blue-grey pointer p-1" ng-click="vm.close()"><b>OK</b></div>
    </div>
</div>