<div class="popup-container">
    <div class="d-flex justify-content-end">
        <div class="modal-closer-icon">
            <i class="material-icons md-14 pointer" ng-click="vm.close()">close</i>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="title-label">{{vm.data.form_content[0].widget_content.address}}</div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="date-label">{{vm.data.form_content[0].widget_content.time | date : "dd MMM yyyy" }} at {{vm.data.form_content[0].widget_content.time | date : "hh:mm a" }}</div>
    </div>
    <div class="box {{vm.color.color}}">
        <div class="d-flex justify-content-center pb-2">
            <img ng-src="{{vm.data.form_content[0].widget_content.icon}}" style="max-width: 96px; max-height: 96px;" class="d-inline-block align-top" alt="">
        </div>
        <div class="d-flex justify-content-center">
            <div class="popup-title-box " style="text-align: center;"><b class="{{vm.data.form_content[0].widget_content.color}}">{{vm.data.form_content[0].widget_content.title}}</b></div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="popup-sub-title-box" style="text-align: center;">{{vm.data.form_content[0].widget_content.sub_title}} </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="muli-label-16 light-blue-grey pointer mb-4" ng-click="vm.close()" style="border-bottom: 2px solid #D9DFEB;"><b>OK</b></div>
    </div>
</div>