<div class="checkin-container">
    <form name="withdraw">
        <b class="muli-label-22 black-blue">Consent Withdrawal</b>
        <br class="muli-label-12">Please submit this form to request for consent withdrawal.</br>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label class="profile-label pt-4">Full Name</label>
                    <input type="text" class="form-control bio-custom-input" ng-model="vm.data.whole_name" name="whole_name" ng-minlength="3" ng-maxlength="52" only-alphabets required />
                    <div class="error-message" ng-show="!withdraw.whole_name.$valid"> Please enter your full name.</div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label class="profile-label pt-4">NRIC / Passport No.</label>
                    <input type="text" class="form-control bio-custom-input" ng-model="vm.data.passport" name="passport" ng-minlength="3" ng-maxlength="20" required />
                    <div class="error-message" ng-show="!withdraw.passport.$valid"> Please enter your passport no.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label class="profile-label">Contact Number</label>
                    <mobile-country country="vm.country_id" mobile="vm.data.contact_number" invalid="vm.contact_number_invalid"></mobile-country>
                    <div class="error-message" ng-show="vm.contact_number_invalid"> Please enter your contact number.</div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label class="profile-label">Gender</label>
                    <p style="margin-bottom: 0px">
                        <div class="d-flex flex-row pt-2" style="height: 35px;">
                            <div class="radio-focus" tabindex="1">
                                <input type="radio" id="gender_1" name="fgender" ng-value="1" ng-checked="vm.data.gender_id == 1" ng-model="vm.data.gender_id" tabindex="1">
                                <label for="gender_1" style="margin-right: 20px">Male</label>
                            </div>
                            <div class="radio-focus" tabindex="2">
                                <input type="radio" id="gender_2" name="fgender" ng-value="2" ng-checked="vm.data.gender_id == 2" ng-model="vm.data.gender_id" tabindex="2">
                                <label for="gender_2">Female</label>
                            </div>
                        </div>
                    </p>
                    <div class="error-message" ng-show="vm.data.gender_id=='' || vm.data.gender_id==undefined"> Please select your gender.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label class="profile-label pt-4">Company Name</label>
                    <input type="text" class="form-control bio-custom-input" ng-model="vm.data.company_name" name="company_name" ng-minlength="3" ng-maxlength="52" required />
                    <div class="error-message" ng-show="!withdraw.company_name.$valid"> Please enter your company name.</div>
                </div>
            </div>
            <!-- <div class="col-lg-6 col-sm-12">
                <div class="form-group" style="margin-bottom: -1rem;">
                    <label class="profile-label pt-4">Date of Birth</label>
                    <biomark-date class="is-invalid" date="vm.data.birth_date" date-valid="true" invalid=""></biomark-date>
                </div>
            </div> -->
            <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label class="profile-label pt-4">Email Address</label>
                    <input type="email" class="form-control bio-custom-input" ng-model="vm.data.email_address" name="email_address" ng-minlength="3" required />
                    <div class="error-message" ng-show="!withdraw.email_address.$valid"> Please enter your email address.</div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            
        </div>       -->
        <div class="pt-4">
            <label class="container-checkbox-v2" style="font-size:12px"> I withdraw my consent to share my personal information, temperature and health declarations with the above mentioned
                company. I understand any previous personal information that I have submitted to the above mentioned company will be
                kept on record for a designated period in compliance with COVID-19 preventative measures in accordance with Ministry
                of Health guidelines before deletion.
                <input class="bio-checkbox" name="terms" type="checkbox" ng-model="vm.data.terms" ng-checked="vm.data.terms">
                <span class="checkmark"></span>
            </label>
        </div>
        <div>
            <div class="d-flex justify-content-center align-items-end" style="height:calc(27vh - 70px)">
                <button class="biomark-btn-primary-success"
                        ng-click="vm.continue()" 
                        ng-disabled="!withdraw.whole_name.$valid || !withdraw.email_address.$valid || vm.contact_number_invalid ||!withdraw.company_name.$valid || !withdraw.passport.$valid || !vm.data.terms || vm.data.gender_id=='' || vm.data.gender_id==undefined">
                        Submit</button>
            </div>
        </div>
        <!-- <div class="d-block d-sm-none">
            <div class="bottom-navigation d-flex justify-content-center p-3">
                <button ng-class="sm-biomark-btn-primary-success" 
                        ng-click="vm.continue()" 
                        ng-disabled="!withdraw.whole_name.$valid || !withdraw.email_address.$valid || vm.contact_number_invalid ||!withdraw.company_name.$valid || !withdraw.passport.$valid || !vm.data.terms || vm.data.gender_id=='' || vm.data.gender_id==undefined">
                        Submit</button>
            </div>
        </div> -->
    </form>
</div>
<withdraw-popup ng-show="vm.pop" packet="vm.pop"></withdraw-popup>  