@import '../../../style';

.popup-container{
    background-color: #ffffff;
    min-width: 350px;
    max-width: 40%;
    margin: auto;
    box-shadow: 0 10px 40px 20px rgba(56, 73, 107, 0.2);
    min-height: 358px;
    border-radius: 8px;
    position: fixed;
    top: 130px;
    left: 0;
    right: 0;
    z-index: 500;
    .modal-closer-icon{
        position:absolute;
        right: 25px;
        top: 30px;
        color: $bluey-grey;
        cursor: pointer;
      }

    .date-label{
        font-family: Muli;
        font-size: 24px;
        line-height: 30px;
        align-items: center;
        align-self: center;
        color: $black-blue;
        font-weight: bold;
        padding-bottom: 40px;;
    }
    .title-label{
        font-family: Muli;
        color: $bluey-grey;
        font-size: 20px;
        line-height: 30px;
        padding-top: 72px;
        align-items: center;
        align-self: center;
        font-weight: bold;
    }
    .box{
        border-radius: 12px;
        max-width: 87%;
        margin: auto;
        padding-bottom: 10px;
        margin-bottom: 20px;
        &.yellow{
            border: 1px solid #FBE79A;
            background-color: #FEF9E6;
        }
        &.green{
            border: 1px solid #BBEAE0;
            background-color: #E7F9F1;
        }
        &.red{
            border: 1px solid #F6CAD4;
            background-color: #FDEBEC;
        }
        .popup-sub-title-box{
            max-width: 280px;
            font-family: Muli;
            font-size: 14px;
            line-height: 20px;
            font-weight: normal;
            color:  #273859;
        }
        .popup-title-box{
            max-width: 80%;
            font-size: 18px;
            font-family: Muli;
            font-weight: bold;
            color: #273859;;
            margin: auto;
        }
        .ok-text{
            border-bottom: 2px solid #D9DFEB;
            bottom: 40px;
            position: absolute;
        }
        .bottom-navigation {
            width: 100%;
            height: auto;
            position: fixed;
            bottom: 0;
            right: 0;
            background: #FFFFFF;
            box-shadow: 0 16px 14px 21px rgba(56, 73, 107, 0.2);
            z-index: 99;
            .sm-biomark-btn-primary {
                height: 56px;
                min-width: 360px;
                border-radius: 6px;
                background-image: linear-gradient(to right, #cc4d74, #f92969);
                box-shadow: 0 10px 40px 0 rgba(190,60,100,.3);
                text-decoration: none;
                font-family: Muli;
                font-size: 12px;
                color: #FFFFFF;
                font-family: Muli;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 32px;
                border: none;
                cursor: pointer;
            }
            .sm-biomark-btn-primary-success {
                height: 56px;
                min-width: 360px;
                border-radius: 6px;
                background-image: linear-gradient(to right, #00A79D, #2BB673);
                box-shadow: 0 10px 40px 0 rgba(13,172,144,0.5);
                text-decoration: none;
                font-family: Muli;
                font-size: 12px;
                color: #FFFFFF;
                font-family: Muli;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 32px;
                border: none;
                cursor: pointer;
            }
        }
    }
    
}

.yellow{
    color: #faca0c;
}
.green{
    color: #17c37b;
}
.red{
    color: #ef3e4a;
}