<div class="popup-container">
    <div class="d-flex justify-content-end">
        <div class="modal-closer-icon">
            <i class="material-icons md-14 pointer" ng-click="vm.close()">close</i>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="title-label">{{vm.risk.form_content[0].widget_content.address}}</div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="date-label">{{vm.date | date : "MMM dd yyyy" : 'UTC'}} at {{vm.date | date : "hh:mm a"}}</div>
    </div>
    <div class="box {{vm.risk.form_content[0].widget_content.color}}">
        <div class="d-flex justify-content-center pb-2">
            <img src="{{vm.risk.form_content[0].widget_content.icon}}" style="max-width: 96px; max-height: 96px;" class="d-inline-block align-top" alt="">
        </div>
        <div class="d-flex justify-content-center">
            <div class="popup-title-box" style="text-align: center;"><b>{{vm.risk.form_content[0].widget_content.title}} </b></div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="muli-label-16 light-blue-grey pointer mb-4" ng-click="vm.close()" style="border-bottom: 2px solid #D9DFEB;"><b>OK</b></div>
    </div>
</div>