@import '../../style';

.symptom-title{
    border-bottom: 0.5px solid $light-blue-grey;
}
.symptoms-check{
    border: 1px solid $white-two ;
    min-height: 47px;
    border-radius: 6px;
}
.temperature-box{
    border: 1px solid $white-two ;
    max-height: 47px;
    border-radius: 6px;
    max-width: 310px;
    .celsius-symbol{
        padding: 5px;
        border-left: 1px solid $white-two;
        font-size: 16px;
    }
    .temperature-input{
        border: transparent;
        border-radius: 4px;
        height: 45px;
        text-shadow: 15px;
        padding: 6px;
        width: 100%;
        outline: none;

    }
}

.important-message-container {
    padding: 16px;
    background: #E7F9F1;
    border: 1px solid #BBEAE0;
    box-sizing: border-box;
    border-radius: 6px;
    .label-title {
        font-family: Muli;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
    }

    .label-text {
        font-family: Muli;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
    }
}

.profile-sublabel{
    color: $bluey-grey;
    font-family: Muli;
    font-size: 12px;
}
.field-holder{
    position: relative;
    .unit-label{
        position: absolute;
        z-index: 20;
        top: 10px;
        right: 8px;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
