<div class="symptom-container">
    <form name="symptom">
        <div class="symptom-title pb-3">
            <b class="muli-label-22 black-blue">{{vm.form_module.header}}</b>
        </div>
        <div class="pt-4">
            <div class="d-flex flex-column">
                <div ng-repeat="c in vm.form_module.form_content">
                    <div class="form-group" ng-if="c.widget_type.includes('radio')">
                        <div class="profile-label">{{c.widget_content.label}}</div>
                        <div class="bluey-grey muli-label-10" ng-if="c.widget_content.sub_label != ''">{{c.widget_content.sub_label}}</div>
                        <p style="margin-bottom: 0px">
                            <div class="d-flex flex-row pt-2" style="height: 35px;">
                                <div ng-repeat="w_value in c.widget_content.values">
                                    <div class="radio-focus">  
                                        <input type="radio" name="{{c.widget_tag}}" 
                                            id="{{c.widget_tag}}{{$index}}" 
                                            ng-model="vm.model.form_content[c.widget_placement].values" 
                                            ng-change="vm.validate()"
                                            value="{{w_value}}" required/>
                                        <label class="muli-label-16 black-blue" for="{{c.widget_tag}}{{$index}}" style="margin-right: 20px">{{w_value}}</label>
                                    </div>
                                </div>
                            </div>
                        </p>
                    </div>
                    <div class="form-group" ng-if="c.widget_type.includes('checkbox')">
                        <label class="profile-label">{{c.widget_content.label}}</label>
                        <div ng-repeat="checkbox_value in c.widget_content.values">
                            <div class="symptoms-check mt-2">
                                <div class="d-flex justify-content-between p-2">
                                    <div class="muli-label-16 black-blue pl-2">{{checkbox_value}}</div>
                                    <label class="container-checkbox-v2" style="font-size:12px">
                                        <input class="bio-checkbox" type="checkbox" id="checkmark"
                                            ng-model="vm.options[$index]"
                                            ng-change="vm.validate($index, checkbox_value)"
                                            value="{{checkbox_value}}">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="c.widget_type.includes('temperature')">
                        <label class="profile-label pt-4 pb-2">{{c.widget_content.label}}</label>
                        <div class="temperature-box">
                            <div class="d-flex justify-content-between">
                                <input class="temperature-input" 
                                        name="temperature"
                                        allow-decimal="true"
                                        ng-change="vm.validate()"
                                        ng-minlength="1" ng-maxlength="42"
                                        decimal-upto="1" type="text" ng-model="vm.data.temperature" number-only-temp>
                                <div class="celsius-symbol py-2 px-3 bluey-grey">&#8451;</div>
                            </div>
                            <div class="error-message" ng-show="!vm.valid_symptoms.temp_isValid"> Please enter a value between 35.0 - 45.0 °C</div>
                        </div>
                    </div>
                    <div ng-if="c.widget_type.includes('consent2')">
                        <div class="important-message-container my-4">
                            <div class="d-flex flex-row">
                                <i class="material-icons blue-green p-1">info_outline</i>
                                <div class="p-2 muli-label-14 black-blue">{{c.widget_content.message}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-sm-block" style="margin-top: 20px;">
                    <div class="d-flex justify-content-center align-items-end" style="height:calc(16vh - 70px)">
                        <button class="biomark-btn-primary-success" 
                                ng-click="vm.continue()" 
                                ng-disabled="!vm.valid_symptoms.enabledButton">
                                <span class="d-flex justify-content center ml-3 mr-3">Submit Health Declaration</span></button>
                    </div>
                </div>
                <!-- <div class="d-block d-sm-none">
                    <div class="bottom-navigation d-flex justify-content-center p-3">
                        <button class="sm-biomark-btn-primary-success" 
                                ng-click="vm.continue()" 
                                ng-disabled="!vm.valid_symptoms.temp_isValid || !vm.valid_symptoms.checkbox_isValid || !vm.valid_symptoms.form_isValid">
                                Submit Health Declaration</button>
                    </div>
                </div> -->
            </div>
        </div>
    </form>
</div>

<warning-popup ng-show="vm.pop" packet="vm.pop" data="vm.risk" color="vm.color"></warning-popup>