<div class="popup-container">
    <div class="d-flex justify-content-end">
        <div class="modal-closer-icon">
            <i class="material-icons md-14 pointer" ng-click="vm.close()">close</i>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="title-label">Gate 304, Xin Headquarters</div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="date-label">8 May 2020 at 12:48 PM</div>
    </div>
    <div class="green-box">
        <div class="d-flex justify-content-center pb-2">
            <img src="../images/green_check.png" style="max-width: 96px; max-height: 96px;" class="d-inline-block align-top" alt="">
        </div>
        <div class="d-flex justify-content-center">
            <div class="popup-title-box" style="text-align: center;"><b>It is highly possible that you may have been exposed to COVID-19 virus.</b></div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="popup-sub-title-box" style="text-align: center;">Please contact your Local Health Authority or medical provider immediately. </div>
        </div>
    </div>
</div>