// font
$EkMukta: Mukta;

// colors
$bluey-grey     : #8493ae;
$dark-red       : #9A2D2D;
$black-red      : #592727;
$black-blue     : #273859;
$white          : #fff;

$dark-grey-blue : #273859;
$blue-green 	: #0dac90;
$goldenrod 		: #faca0c;
$greyish-brown 	: #4a4a4a;
$seaweed 		: #17c37b;
$red-pink 		: #ef3e4a;
$deep-rose 		: #be3c64;
$warm-grey 		: #989898;
$white-two 		: #dddddd;
$white-three    : #eeeeee;
$golden 		: #e6b801;
$light-blue-grey : #d9dfeb; 

.fontMukta {
    font-family: Mukta;
}

//COLORS
.seaweed{
    color: $seaweed;
}
.light-blue-grey{
    color: $light-blue-grey;
}
.dark-red{
    color: $dark-red;
}
.black-red{
    color: $black-red;
}
.color-white{
    color: $white;
}
.black-blue{
    color: $black-blue;
}
.bluey-grey{
    color: $bluey-grey;
}
.greyish-brown{
    color: $greyish-brown;
}
.red-pink{
   color: $red-pink
}
.blue-green{
    color: $blue-green;
}
html,body{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    // padding-top: 70px;
    background-image: linear-gradient(-180deg,#eee 0,#fefefe 50%,#fff 100%);
    font-size: 14px;
}
.light-grey{
    color: #ccc;    
}
.pointer{
    cursor: pointer;
}
.sticky{
    position: sticky;
    top: 0px;
}

//  fonts size
.label-12{
    font-size: 12px;
}
.label-14{
    font-size: 14px;
}
.muli-label-10{
	font-family: Muli;
	font-size: 10px;
}
.muli-label-11{
	font-family: Muli;
	font-size: 11px;
}
.muli-label-12{
	font-family: Muli;
	font-size: 12px;
}
.muli-label-14{
	font-family: Muli;
	font-size: 14px;
}
.muli-label-16{
	font-family: Muli;
	font-size: 16px;
}
.muli-label-18{
	font-family: Muli;
	font-size: 18px;
}
.muli-label-20{
	font-family: Muli;
	font-size: 20px;
}
.muli-label-22{
	font-family: Muli;
	font-size: 22px;
}
.mukta-label-12{
    font-family: $EkMukta;
	font-size: 12px;
}
.mukta-label-14{
    font-family: $EkMukta;
	font-size: 14px;
}
.mukta-label-16{
    font-family: $EkMukta;
	font-size: 16px;
}
.mukta-label-18{
    font-family: $EkMukta;
	font-size: 16px;
}
.mukta-label-22{
    font-family: $EkMukta;
	font-size: 22px;
}
.mukta-label-20{
    font-family: $EkMukta;
	font-size: 20px;
}
.mukta-label-18{
    font-family: $EkMukta;
	font-size: 18px;
}


//removal of boostrap border-radius
.btn,.form-control,.card,.card-body,.card-header{
    border-radius: 0;
}

.bio-custom-input{
    height: 48px;
  }
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;

}

.modal-container{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background: rgba(#333333,0.4);
}
biomark-date,biomark-mobile,biomark-clinic-mobile,.prefix{
    .input-group.is-invalid{
      border: 1px solid #dc3545;
      border-radius: .25rem;
    }
  
    .input-group.is-invalid > .input-group-prepend .input-group-text{
      border: none !important;
    }
    .input-group.is-invalid > .form-control{
      border-top: none !important;
      border-bottom: none !important;
    }
    .input-group.is-invalid > .form-control:last-child{
      border-right: none !important;
    }
  }
  mobile-country{
	ul{
		position: absolute;
		background: #fff;
		left: 0;
		top: 39px;
		z-index: 10;
		padding:0;
		margin: 0;
		list-style: none;	
		border: 1px solid #ccc;
	    border-radius: .25rem;
	    height: 156px;
	    overflow-x: hidden;
	    overflow-y: scroll;
	    
		li{
			
			padding: 5px;
		    width: inherit;
		    border-bottom: 1px solid #eee;
		    cursor: pointer;
		}
		li:hover{
			background: #eee;
		}
	}
}

.md-datepicker-invalid {
    border-bottom-color: rgb(221,44,0);
}

[type=radio]:checked, [type=radio]:not(:checked) {
    position: absolute;
    left: -9999px;
}
input[type=radio], input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
}
[type=radio] {
    margin-right: 5px;
}
[type=radio]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 100%;
    background: #fff;
}
[type=radio]:checked+label, [type=radio]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type=radio]:checked+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #0dac90;
    border-radius: 100%;
    background: #fff;
}
[type=radio]:checked+label:after {
    opacity: 1;
    transform: scale(1);
}
[type=radio]:checked+label:after{
    content: '';
    width: 10px;
    height: 10px;
    background: #0dac90;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    transition: all .2s ease;
}

.form-group .error-message{
	margin-top: .25rem;
    font-size: 10px;
    color: red;
}