<div class="input-group" ng-class="{'is-invalid':$ctrl.invalid}"> 	
	<div class="input-group-prepend" ng-click="$ctrl.select_dialcode()"> 
        <span class="input-group-text ng-binding" style="background: transparent;position: relative">
             <span class="flag-icon flag-icon-{{$ctrl.code.toLowerCase()}}"> </span> &nbsp; {{$ctrl.dial_code}} &nbsp;&nbsp;
             <i class="fa fa-angle-down"></i>
            </span> 
		<ul click-outside="$ctrl.closeDropDown()" ng-if="$ctrl.is_visible">
			<li ng-repeat="country in $ctrl.countries" ng-click="$ctrl.onValueChanged(country)"><span class="flag-icon flag-icon-{{country.code.toLowerCase()}}"> </span> &nbsp; {{country.dial_code}} - {{country.name}}</li>
		</ul>
	</div> 
    <input name="mobileNumber" 
           type="text" 
           class="form-control bio-custom-input" 
           minlength="8"  
           maxlength="20" 
           ng-change="$ctrl.mobile_change($ctrl.mobile)"
           ng-model="$ctrl.mobile" 
           width="240px" 
           ng-pattern="$ctrl.mobile_regex"
           numbers-only> 
</div>
<!-- <div class="error-message" style="display: block" ng-if="!mobileNumber.$valid"> Please enter a valid mobile number</div> -->